In [10]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [11]:
df = pd.read_csv('InputData.csv')
df.head()

,name,age,lifestyle,zip code,family status,car,sports,earnings,label,Living area
0,VnSEFOuL,62.0,cozily,50168.0,married,practical,athletics,102526.0,no response,urban
1,8Tv0hcce,34.0,active,66479.0,married,expensive,soccer,33006.0,no response,urban
2,Zny9ysbk,69.0,healthy,16592.0,single,expensive,badminton,118760.0,response,urban
3,HV3xCamM,57.0,cozily,50068.0,married,practical,soccer,131429.0,response,urban
4,sflRsQ6v,66.0,cozily,35988.0,single,practical,badminton,96003.0,response,urban

In [12]:
df['lifestyle'] = pd.factorize(df['lifestyle'])[0]
df['family status'] = pd.factorize(df['family status'])[0]
df['car'] = pd.factorize(df['car'])[0]
df['sports'] = pd.factorize(df['sports'])[0]
df['Living area'] = pd.factorize(df['Living area'])[0]
df['label'] = pd.factorize(df['label'])[0]

In [13]:
Y = df['label'].values
df.drop(['name', 'label'], axis=1, inplace=True)
X = df.values.astype(float)

In [15]:
import numpy
import pandas
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

# fix random seed for reproducibility
seed = 7
numpy.random.seed(seed)


# # load dataset
# dataset = dataframe.values
# # split into input (X) and output (Y) variables
# X = dataset[:, 0:60].astype(float)
# Y = dataset[:, 60]


# encode class values as integers
encoder = LabelEncoder()
encoder.fit(Y)
encoded_Y = encoder.transform(Y)


# encode class values as integers
encoder = LabelEncoder()
encoder.fit(Y)
encoded_Y = encoder.transform(Y)


# baseline model
def create_baseline():
    # create model
    model = Sequential()
    model.add(Dense(8, input_dim=8, kernel_initializer='normal', activation='relu'))
    model.add(Dense(1, kernel_initializer='normal', activation='sigmoid'))
    # Compile model
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model


# evaluate model with standardized dataset
estimator = KerasClassifier(build_fn=create_baseline, epochs=100, batch_size=5, verbose=0)
kfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=seed)
results = cross_val_score(estimator, X, encoded_Y, cv=kfold)
print("Results: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Results: 53.28% (16.07%)